@import '../../styles.css';

.modal-content form div {
  margin-bottom: var(--spacing-lg);
}

#delete-task-btn {
  background: var(--color-error);
  color: var(--color-white);
}

#delete-task-btn:hover {
  background: #E63629;
}
